{% macro explore_packages() %}
<script>
  function fetchJSONData(packageName) {
    const baseUrl = 'https://linux-amd64-default.lpm.lodosgroup.org/api'
    const url = `${baseUrl}/?package=${encodeURIComponent(packageName || "")}`

    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`)
        }
        return response.json()
      })
      .then(data => {
        populateList(data)
      })
      .catch(error => {
        console.error('Error fetching data:', error.message)
      })
  }

  function createElement(tag, classname = '') {
    const element = document.createElement(tag)

    if(classname) {
      element.setAttribute('class', classname)
    }

    return element
  }

  function capitalizeText(text = '') {
    return text.charAt(0).toUpperCase() + text.slice(1)
  }

  function populateList(data) {
    const list = document.querySelector('#packages')

    // Clear existing list data values
    list.innerHTML = ''

    // Loop through the data and create list items for each object
    data.forEach((item, index) => {
      const row = createElement('div', 'packages__item')
      const content = createElement('div', 'packages__item-content')

      // Loop through the properties of each object and create list columns for each property
      for (const key in item) {
        if (item.hasOwnProperty(key)) {
          // Create header for each package
          if (key === 'name') {
            const header = createElement('div', 'packages__item-header')
            const title = createElement('strong')

            title.textContent = item[key]
            header.appendChild(title)
            row.appendChild(header)
          } else {
            // Create content for each package
            const property = createElement('div', 'packages__item-prop')
            const title = createElement('strong')
            let value = createElement('p')

            title.textContent = capitalizeText(key)

            if (key === 'kind') {
              // Create an element that views as span
              value = createElement('span')
              value.textContent = item[key]
            } else if (key === 'tags') {
              // Create an element that views as tag list
              value = createElement('div', 'packages__item-tags')

              if (item[key]) {
                const parts = item[key].split(',')

                for (const part of parts) {
                  const tag = createElement('span')

                  tag.textContent = part
                  value.appendChild(tag)
                }
              }
            } else if (key === 'repository') {
              // Create an element that views as anchor
              value = createElement('a')
              value.setAttribute('href', item[key])
              value.setAttribute('target', '_blank')
              value.textContent = item[key]
            } else {
              value.textContent = item[key] || '-'
            }

            // Include whole elements to their parents
            property.appendChild(title)
            property.appendChild(value)
            content.appendChild(property)
            row.appendChild(content)
          }
        }
      }

      list.appendChild(row)
    })
  }

  const queryInput = document.getElementById('query-input')

  queryInput.addEventListener('input', function () {
    const packageName = queryInput.value.trim()

    fetchJSONData(packageName)
  })

  // Call the function to fetch and display the initial JSON data in the table
  fetchJSONData()
</script>
{% endmacro %}